<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=301879
  -->
<configuration>
  <appSettings>
	  <add key="ConnectionString" value="Data Source=172.16.16.145;Initial Catalog=HISLive_PFBSH_07Mar2023;User ID=MobileUser;Password=PFBSH@123" />
	  <add key="ReportPath" value="C:\\Users\\Swathi\\Sangamesh\\Reports\\" />
	  <add key="ReportLocation" value="C:\\Users\\Swathi\\Sangamesh\\Reports\\PDF\\" />
	  <add key="PrescriptionLocation" value="C:\\Users\\Swathi\\Sangamesh\\Reports\\PDF\\" />
	  <add key="SickLeaveLocation" value="C:\\Users\\Swathi\\Sangamesh\\Reports\\PDF\\" />
	  <add key="ftpserver" value="172.16.16.40" />
	  <add key="ftppath" value="PatientPhoto" />
	  <add key="ftppath_SickLeave" value="SickLeave_Approved" />

	  <add key="DBConnectionStringMasters" value="Data Source=172.16.16.145;Initial Catalog=HISLive_PFBSH_07Mar2023;User ID=MobileUser;Password=PFBSH@123" />
	  <add key="DefaultWorkstationId" value="2" />
	  <add key="DefaultUserId" value="1" />
	  <add key="HISConfig" value="1" />
	  <add key="DefaultHospitalId" value="5" />
	  <add key="mayosarAuth" value="Basic c2tfdGVzdF9NUXExY3RRNWNiRlhMNzNIVHNMc0VrQjFKaVN2dVk5bUVOaU5hQ1lGOg==" />
	  <add key="NoRecordsFound" value="No Record Found" />
	  
	  

	  <add key="OPUnBilledPrescLimitinDays" value="null" />
	  <add key="BillDocCheck" value="YES" />
	  <add key="NationalityIDBasedSearch" value="NO" />
	  <add key="PrescDaysRaise" value="99" />
	  <add key="NewVisitOrderTypeId" value="49" />
	  <add key="LEXICOMMESSAGELENGTH" value="150" />
	  <add key="LexicomEnable" value="NO" />
	  <add key="LexicomCheck" value="NO" />
	  <add key="LexicomMajor" value="N0" />
	  <add key="LexicomMinor" value="NO" />
	  <add key="LexicomModerate" value="NO" />
	  <add key="LexiAllerts" value="AllAlerts" />
	  <add key="LexiPresCheck" value="NO" />
	  <add key="LEXISITESPEFICICINTERACTIONS" value="idDrugDrugInter,idDrugFoodInter,idDrugAlcholInter,idDrugAllergies,idDose,idDrugDupTherapies,idDrugDiseasTher,idRoute,idDrugPregThe,idDrugLacThera,idDrugAgeTher,idDrugGenderTher" />
	  <add key="PRNPrintOver" value="TCP" />
	  <add key="PRNPort" value="" />
	  <add key="RelationshipID" value="7" />
	  <!--7 for tabuk and 18 for taif-->
	  <add key="PatientEmergencyRegistrationCategory" value="29" />
	  <add key="PatientEmergencyRegistrationEligibility" value="165" />
	  <add key="MotherAge" value="15" />
	  <add key="TabukAPP" value="NO" />
	  <add key="PaymentModeSelection" value="NO" />
	  <add key="TrackReportExecution" value="YES" />
	  <add key="DisplaySIUnits" value="YES"></add>
	  <add key="IsGTNOMandatory" value="YES" />
	  <add key="EnableOPPackage" value="NO" />
	  <add key="LexicomDisplayMessageType" value="Screening" />
	  <add key="IsVirtualVisit" value="NO" />
	  <add key="IsDiagnosisTypeMadatory" value="YES" />
	  <add key="VitalColorCode" value="NO" />
	  <add key="MULTIPLEPRIMARYDIAGNOSIS" value="YES" />
	  <add key="PatientDataPDFNameFormat" value="YES" />
	  <add key="BulkProcessMedicationDiscontinuation" value="NO" />

	  <!-- for enabling Consumables combo in IPIssues Screen -->
	  <add key="IPIssueConsumableEnable" value="YES" />
	  <!-- for editing price column in Approval Request screen -->
	  <add key="EDITPRICE" value="YES" />
	  <add key="PharmacyReqBarCode" value="YES" />
	  <!--to Enable to Barcode YES-->	
	  <add key="WEIGHTDISPLAYFOLLOWUP" value="NO" />

	  <add key="SURGERYADMISSIONMANDATORY" value="NO" />
	  <!--YES to enable Admission Mandatory if surgery is selected-->

	  <add key="WEIGHTDISPLAYFOLLOWUP" value="NO" />
	  <add key="PROCSCHEDLOADALLLOCATIONS" value="NO" />
	  <add key="NewProgressNote" value="NO" />
	  <add key="AllowBlockResourceWithBill" value="NO" />
	  <add key="FullIssueCheck" value="NO" />
	  <add key="ReferralOrderTypeID" value=" " />
	  <add key="RestrictRefDoc" value="NO" />
	  <add key="RestrictDocOrderDefaultCheck" value="NO" />
	  <add key="IsAppointmentDischargCheckEnable" value="NO" />
	  <add key="ItemFreqMand" value="No" />
	  <add key="RestrictARItemsDeletion" value="No" />
	  <add key="SetSampleNoAsAccessionNo" value="NO" />
	  <add key="Browser" value="1" />
	  <add key="NphiesEncryptionKey" value="nphiesweb" />
	  <add key="NPHIESPATELIGI" value="YES" />
	  <add key="NPHIESURL" value="http://172.16.16.50/NPHIESN" />
	  <add key="EnableGeneralConsent" value="NO" />
	  <add key="VitalsMandatory" value="YES"></add>
	  <add key="BedsDisplaySequence" value="YES" />
	  <add key="UPLOADNEW" value="NO" />
	  <add key="EnableMRDLOG" value="NO"></add>
	  <add key="FTPMrdDocsFolder" value="MRDDocs"></add>
	  <add key="IncludeDischargeMedicationInPackage" value="NO" />
	  <add key="DrugOrderSeq" value="NO" />
	  <add key="DrugAdministranDropDown" value="NO" />
	  <!-- Claim Form No. is mandatory for key value="2" and not mandatory for key value="1".-->
	  <add key="CCHIExclusionItems" value="NO" />
	  <add key="AOSTemplateforOP" value="NO" />
	  <add key="AOSTemplateforIP" value="NO" />
	  <add key="TESTDEFCONDITION" value="YES" />

	  <add key="IsClaimVisible" value="2" />
	  <add key="IsMadatory" value="1" />
	  <add key="IsDiagnosisMandatory" value="YES" />
	  <add key="IPChiefDiagnosisMand" value="YES" />

	  <!-- Key for Enable Pharmacy collectable in Company page-->
	  <add key="ShowPharmacyCollectableCheckBox" value="NO" />

	  <add key="IsPassportMandatory" value="NO" />
	  <add key="SearchWholeBlood" value="NO" />
	  <add key="isEmailValRequired" value="No" />
	  <add key="RaiseScreeningTestOrder" value="NO" />
	  <add key="ISVIRTUAL" value="NO" />
	  <add key="OTNotesEntryBySurgeonOnly" value="NO" />
	  <add key="Name2LMandatory" value="YES" />
	  <add key="AllowDaysLimitForPrescription" value="NO" />
	  <add key="ENABLEGENERICPRESC" value="NO" />
	  <add key="PatientDataTimeLog" value="NO" />
	  <add key="DISABLEPREVSICKLEAVE" value="NO" />

	  <add key="PrevMedicationLoad" value="-12" />

	  <add key="HideSaveSchedule" value="YES" />
	  <add key="DefaultIssueMedicationDays" value="30" />
	  <add key="DrugDrugInteractionCheck" value="YES" />
	  <add key="DrugTemplatesCheck" value="NO" />
	  <add key="RemoveDoctorandSpecialisationinMSG" value="YES" />
	  <add key="PDFOutputReports" value="DeathNotification,TPNReport,OPPharamacy,IpPharmacy,OPPharamacySticker,IpPharmacySticker,StickerPrint,IPIssuePrintLabelSub,PrintCardSA,PrintCardOthers,SurgerySchedulerBillClearence,SchedulingSummary,IvFluidPre,DisContinuIPPrint,DisContinuOPPrint,TPNlabel,LabBarCode,LabReportView" />
	  <add key="strRemoteSign" value="PatientPhoto" />
	  <add key="ClinicalAuditPDFPath" value="D:\\ClinicalAuditPDF" />
	  <add key="TRIAGEVITALNAVIGATION" value="NO" />
	  <add key="ISHEIGHTMAND" value="NO" />
	  <add key="ISWEIGHTMAND" value="YES" />
	  <add key="IsVitalsMandatory" value="NO" />
	  <add key="AUTOAPPROVAL" value="NO" />
	  <add key="CheckPOValidityinGRN" value="YES" />
	  <add key="ISQOHDIS" value="YES" />
	  <add key="CheckPOValidityinGRN " value="YES" />
	  <add key="IsPatientAdmittedCheck" value="YES" />
	  <add key="MMCCheck" value="YES" />
	  <add key="AppointmentCheck" value="YES" />
	  <add key="RemoveDoctorandSpecialisationinMSG" value="YES" />
	  <add key="ISRelationShipMandatory" value="NO" />
	  <add key="IsClinicCodeMandatory" value="NO" />
	  <add key="HideCaseSummarySections" value="Yes" />
	  <add key="TAXtype" value="1" />
	  <add key="VATConfigurationEnabled" value="YES" />
	  <add key="strEmpSignatureRemote" value="PatientPhoto" />
	  <add key="IndentToAllLocations" value="YES" />
	  <add key="SameUserUnverify" value="NO" />
	  <add key="HistoAccess" value="YES" />
	  <add key="EPRViewReasonsMandatory" value="NO" />
	  <add key="SessionExpiringAlert" value="YES" />
	  <add key="ItemSpecialisationCheck" value="YES" />
	  <add key="ItemProfileCheck" value="YES" />
	  <add key="ItemDoctorCheck" value="YES" />
	  <add key="RestrictPrescribedMedicationDays" value="0" />
	  <add key="DocAvailabilityForVisitGeneration" value="YES" />
	  <add key="PatientVisitAgainestAppointment" value="NO" />
	  <add key="SwccPatientRegistrationChanges" value="NO" />
	  <add key="AstraROL" value="YES" />
	  <!--<add key="RemoteReportURL" value="http://10.152.2.240/WHIS/" />-->
	  <add key="AssistantFlow" value="YES" />
	  <add key="GroupPrintingIsVerified" value="NO" />
	  <add key="GroupPrintingStatus" value="8" />
	  <add key="RestrictMedicationDays" value="30" />
	  <add key="ColorItemName" value="YES" />
	  <add key="TestApplicable" value="YES" />
	  <add key="HoldReason" value="YES" />
	  <add key="ItemSpecialisationRestrict" value="YES" />
	  <add key="IndentUnitsDropdownEnable" value="NO" />
	  <add key="CompletedMedicationColor" value="#28B779" />
	  <add key="ActiveMedicationColor" value="#FFFFFF" />
	  <add key="AssesmentsWebService" value="http://10.152.2.172/AjaxWebService/Service1.asmx/GetData" />
	  <add key="LexicommIntegration" value="YES" />
	  <add key="AdviceSurgeryRequestPopup" value="NO" />
	  <add key="CARDPAYMENT" value="YES" />
	  <add key="DepartmentIDs" value="2131,1658,1701" />
	  <add key="NEWCASESHEET" value="YES" />
	  <add key="ISVITAL" value="NO" />
	  <add key="AlertForMoreQtyIssue" value="YES" />
	  <add key="ALHAMMADI" value="YES" />
	  <add key="FileSize" value="5" />
	  <add key="BloodRequestTemplate" value="No" />
	  <add key="DonorRegestrationTemplate" value="No" />
	  <add key="SignificatAndReconsilationButton" value="NO" />
	  <add key="OPBillBasePrice" value="no" />
	  <add key="NOofMuliResourceLots" value="1" />
	  <add key="IsAlhammadiPrint" value="NO" />
	  <add key="OPConsultationSameDayDepartment" value="NO" />
	  <add key="VerifiedDStoPatientFolder" value="NO" />
	  <add key="IsAntibioticDosage" value="NO" />
	  <add key="IsExclusion" value="0" />
	  <add key="IsDiagnosisMandatory" value="YES" />
	  <add key="CCMandatory" value="NO" />
	  <add key="SubStoresCashIssueViewApprovalsLink" value="NO" />
	  <add key="ShowHijriDate" value="No" />
	  <add key="ADTAdmissionApproval" value="NO" />
	  <add key="AllergyView" value="No" />
	  <add key="FORegCheckDoctorAvailable" value="YES" />
	  <add key="OutStandingAmountMessage" value="NO" />
	  <add key="PrinterOption" value="new" />
	  <add key="BedReservationAdvice" value="NO" />
	  <add key="NoOfFreeSlots" value="10" />
	  <add key="IsStaffIssue" value="false" />
	  <add key="ValidateDiagnosisAndClinicalConditions" value="NO" />
	  <add key="SubStoresCashIssueAllergiesLink" value="YES" />
	  <add key="RaiseOrderToServiceWL" value="NO" />
	  <add key="PatientHighrisk" value="NO" />
	  <add key="IsDrugLicense" value="NO" />
	  <add key="FOPatientRegPayerAccess" value="NO" />
	  <add key="TransMedBloodRequestPrint" value="0" />
	  <add key="PoliceBuckleMandatory" value="NO" />
	  <add key="ItemShortNameEnabled" value="NO" />
	  <add key="NewBornTitle" value="Baby" />
	  <add key="BarCodeButtonEnable" value="NO" />
	  <add key="Hema_AdmissionCodeLength" value="NO" />
	  <add key="RestrictDischargeRequestPendingOrders" value="FALSE" />
	  <add key="AdmissionLabelPrint" value="YES" />
	  <add key="LabReqDetailsShowCancelRemarks" value="yes" />
	  <add key="LabREHistopathologySpecID" value="140" />
	  <add key="FormIssued" value="NO" />
	  <add key="Guardian" value="YES" />
	  <add key="VendorSEReq" value="NO" />
	  <add key="Emergency" value="C:\\Temp" />
	  <add key="ScriptPrint" value="No" />
	  <add key="IsSpecimanColleted" value="Ward" />
	  <add key="EMRPatAdmCountryCode" value="ind" />
	  <add key="NoOfDigitsHomeNo" value="10" />
	  <add key="NoOfDigitsMobileNo" value="10" />
	  <add key="BedsNavigation" value="Beds" />
	  <add key="PatientOutstandingAproval" value="NO" />
	  <add key="IsLogFileRequired" value="true" />
	  <add key="OnCall" value="1" />
	  <add key="IsBusinessUnit" value="false" />
	  <add key="Common" value="C:\\Temp" />
	  <add key="strIPAdd" value="172.16.16.40"></add>
	  <add key="UploadFolder" value="172.16.16.40\\UploadFiles" />
	  <add key="ScanedPhots" value="172.16.16.40\\ScannedDocsTemp" />
	  <add key="ScanedFTPPhotos" value="ftp://172.16.16.40//ScannedDocsTemp" />
	  <add key="TempUploadFolder" value="172.16.16.40\\MRDDocs"></add>
	  <add key="WorkFlowspecifier" value="true" />
	  <add key="LiveUsersCount" value="500000" />
	  <add key="strPhotoRemote" value="PatientPhoto" />
	  <add key="strUser" value="" />
	  <add key="strPwd" value="" />
	  <add key="SpellCheck" value="0" />
	  <add key="CSPWARDSDeafultSearch" value="YES" />
	  <add key="PSWDLifeTime" value="YES" />
	  <add key="SIMComplexPSWDPolicy" value="YES" />
	  <add key="OTCathLabPrnHdr" value="width:900px; height:120px;" />
	  <add key="OTCathLabPatDtls" value="YES" />
	  <add key="ResgistrationResidentVisible" value="True" />
	  <add key="ServicePatientIsMartialStatusMandatory" value="NO" />
	  <add key="IsBillClearence" value="YES" />
	  <add key="OTAllowOVerlapMandatory" value="true" />
	  <add key="performtechnicianIsMandatory" value="YES" />
	  <add key="IsAutoPayoutServiceRequired" value="Yes" />
	  <add key="ProceduresIsProfessionalChargeApplicable" value="YES" />
	  <add key="IsRateContractPriceApplicableForallOrderTypesInPurchaseOrder" value="Yes" />
	  <add key="ReservedStatus" value="12" />
	  <add key="IsEmergency" value="true" />
	  <add key="IsUploadScan" value="YES" />
	  <add key="CSTSeq" value="yes" />
	  <add key="DCPrintLabel" value="yes" />
	  <add key="LastNameMandatory" value="NO" />
	  <add key="HCGEquipmentKey" value="TRUE" />
	  <add key="ResourceAvailable" value="YES" />
	  <add key="LabCollectRemarksVisible" value="Yes" />
	  <add key="CRDiscountforPatient" value="NO" />
	  <add key="SurgeryConsumables" value="NO" />
	  <add key="IsNLBWithStickySession" value="NO" />
	  <add key="ShortExpiryDays" value="10" />
	  <add key="IsMaritalStatusMandatory" value="YES" />
	  <add key="IsFamilyNameDisable" value="NO" />
	  <add key="LabShowSequenceNo" value="Yes" />
	  <add key="TestCollectAcknowledge" value="YES" />
	  <add key="LabShowTestStatus" value="YES" />
	  <add key="LabShowTestUnitTime" value="1" />
	  <add key="LabShowTestUnit" value="HRS" />
	  <add key="ExternalTransfer" value="YES" />
	  <add key="SpacialityResultEntryVerify" value="yes" />
	  <add key="LabSpeCheckOutstandingBal" value="yes" />
	  <add key="TestSampleCollected" value="yes" />
	  <add key="InvOrderRestrictQTY" value="no" />
	  <add key="LabWorkOrder" value="yes" />
	  <add key="ShowWardDietType" value="NO" />
	  <add key="MainStores" value="C:\\Temp" />
	  <add key="BMH" value="1" />
	  <add key="InvoiceMand" value="NO" />
	  <add key="ChangePO_RUP_MRP" value="Yes" />
	  <add key="IsInvoiceNoSpecificforGRN" value="YES" />
	  <add key="IsChallanNoSpecificforGRN" value="YES" />
	  <add key="IsChallanNoMandRecivingBay" value="YES" />
	  <add key="IsReferenceNoMandRecivingBay" value="YES" />
	  <add key="EditPRateInGRNagainstPO" value="YES" />
	  <add key="PurchaseEvaluation" value="YES" />
	  <add key="GRNMRPMandatory" value="NO" />
	  <add key="PRIndentSearchApprovedOnly" value="NO" />
	  <add key="IsModeOfDispatch" value="NO" />
	  <add key="AbatedMRP" value="YES" />
	  <add key="IsFreeWOQty" value="YES" />
	  <add key="IsLotNoMandatory" value="NO" />
	  <add key="BarPrinterName" value="\\mkd-dc-whcit\MKD-T52F" />
	  <add key="BCodeModel" value="GC420T" />
	  <add key="POValidityDateMandatory" value="YES" />
	  <add key="NonAssetItemsinStoresConsumption" value="yes" />
	  <add key="DefaultMRPPRate" value="YES" />
	  <add key="AllowBonusItems" value="yes" />
	  <add key="IsChallanNoMandGoodsReceiptNotes" value="NO" />
	  <add key="ChallanNoAlternateLabelText" value="NO" />
	  <add key="IsGrnDateControl" value="NO" />
	  <add key="MRPMargin" value="YES" />
	  <add key="DispPayDel" value="YES" />
	  <add key="Purchase" value="C:\\Temp" />
	  <add key="strRemote" value="PatientPhoto" />
	  <add key="Astra" value="1" />
	  <add key="MailHost" value="127.0.0.1" />
	  <add key="MailPort" value="8380" />
	  <add key="SendMailFlag" value="NO" />
	  <add key="IsContactNoMand" value="YES" />
	  <add key="printPDF" value="yes" />
	  <add key="ItemCodeFlag" value="YES" />
	  <add key="ItemStockBatchDetailsDisplay" value="YES" />
	  <add key="QOHROLConditionInPO" value="YES" />
	  <add key="SlabMarkupApplicable" value="no" />
	  <add key="IsPOApprovalConfigRequired" value="no" />
	  <add key="DNTFolderPath" value="~\\DNT\\" />
	  <add key="ValidateCashierScroll" value="NO" />
	  <add key="IsOpticalStore" value="No" />
	  <add key="SubStores" value="C:\\Temp" />
	  <add key="IsLimitExceeds" value="yes" />
	  <add key="IndentApproval" value="false" />
	  <add key="AllGenericItems" value="YES" />
	  <add key="ValidityContractExpiry" value="NO" />
	  <add key="RestrictingIVFItem" value="NO" />
	  <add key="MessageImportance" value="Very High,High,Medium" />
	  <add key="RASDBarCodes" value="NO" />
	  <add key="MandIndentRefNo" value="YES" />
	  <add key="RoundOff" value="YES" />
	  <add key="PrintExportOption" value="3" />
	  <add key="DirectPrint" value="No" />
	  <add key="PreviewRequired" value="No" />
	  <add key="PrinterName" value="\StorePrinter" />
	  <add key="PrintDrugOrder" value="YES" />
	  <add key="IsSubstituteItem" value="no" />
	  <add key="IsRemarksMandatory" value="YES" />
	  <add key="CashUHIDIPMAND" value="NO" />
	  <add key="ShowPreview" value="Yes" />
	  <add key="CashIssuePrintRxDiagnosis" value="yes" />
	  <add key="IndentOrReturnModifyReason" value="YES" />
	  <add key="IndentAcknowledgementValidation" value="YES" />
	  <add key="CloserRemarksMandatory" value="YES" />
	  <add key="PrintIndentOrder" value="NO" />
	  <add key="AutoPopulateItemsQohLessinIndent" value="NO" />
	  <add key="CashReturnBillFacilitywise" value="YES" />
	  <add key="CancelFlag" value="YES-61" />
	  <add key="IsMultiModeRequired" value="yes" />
	  <add key="LoadPrescriptionOnUHID" value="yes" />
	  <add key="ServiceIDsExcludedforGroupingWhilePrinting" value="1,3,4,5,6,7,8,9,10" />
	  <add key="CSSD" value="C:\\Temp" />
	  <add key="BioMedical" value="C:\\Temp" />
	  <add key="UCAFCompany" value="4109" />
	  <add key="SpecialityShowPerformTechnician" value="YES" />
	  <add key="PreviousPrescriptionDays" value="0" />
	  <add key="DrugInteraction" value="yes" />
	  <add key="FamilyNameMandatory" value="Yes" />
	  <add key="NationalIDMand" value="YES" />
	  <add key="NationalIDLength" value="10" />
	  <add key="NationalIDDuplicate" value="Yes" />
	  <add key="ShowReqdetailsNew" value="NO" />
	  <add key="WorkListButton" value="YES" />
	  <add key="CaptureRepeat" value="yes" />
	  <add key="TemplateViewer" value="yes" />
	  <add key="NewDnTFnBChanges" value="YES" />
	  <add key="NewDnTIPCounselling" value="YES" />
	  <add key="TriagePatientcaptureTime" value="YES" />
	  <add key="FOAppointmentSequenceNoGeneration" value="NO" />
	  <add key="FORegistrationReligionRelativeMandatory" value="YES" />
	  <add key="IsAliasVisible" value="NO" />
	  <add key="LabelStickerFilePath" value="C:\LabelStickerPrint" />
	  <add key=" CashierScrollSave" value="YES" />
	  <add key="IsRefundCancelBill" value="YES" />
	  <add key="TatweerAPP" value="NO" />
	  <add key="Eligibility" value="YES" />
	  <add key="PacksViewImages" value="1" />
	  <add key="BagExpiry" value="Yes" />
	  <add key="DoLoginByLDAP" value="no" />
	  <add key="DomainIPDomainName" value="10.154.50.100,wipro.com" />
	  <add key="IsMiddleNameMand" value="YES" />
	  <add key="MODAAPP" value="NO" />
	  <add key="ScanSettingFilePath" value="ScanSettings.xml" />
	  <add key="isEmailValRequired" value="YES" />
	  <add key="SwLicenceValidate" value="NO" />
	  <add key="DoAuthorizeTransaction" value="NO" />
	  <add key=" TrackReportExecution" value="yes" />
	  <add key="Yaico" value="NO" />
	  <add key="IVfluidchargeItemcode" value="IV0001" />
	  <add key="ViewIPOPIssuesinMedicationView" value="YES" />
	  <add key="ALDOSAAPP" value="NO" />
	  <add key="VICTORIA" value="NO" />
	  <add key="VitalSignParameter" value="1" />
	  <add key="ImageURL" value="http://localhost/HIS/Images/spacer.gif" />
	  <add key="CliniCCodes" value="ER01,ER02,ER03,ER04,ER05,ER09" />
	  <add key="RestrictTestsIfApprovalPending" value="Yes" />
	  <add key="SplitPrescription" value="NO" />
	  <add key="MRDNewRequest" value="12829408" />
	  <add key="MRDAcceptedRequest" value="13041632" />
	  <add key="MRDRejectedRequest" value="16561332" />
	  <add key="MRDReportConfirmed" value="16566027" />
	  <add key="PhyLabPhotos" value="10.152.2.174\\PatientPhoto" />

	  <add key="CaseSheetLoadOnlyTriaged" value="NO" />
	  <add key="TriageCaseSheetDisable" value="YES" />
	  <add key="EnableJSONLexiom" value="YES" />
	  <add key="EnableEngPlan" value="YES" />
	  <add key="PrintStickerForSingleQty" value="YES" />
	  <add key="BloodLabAutoRaiseTestIDs" value="16887" />
	  <add key="OrderLabAutoRaiseTestIDs" value="16887,16820" />
	  <add key="BloodComponents" value="RBC-13614,FFP-13615,CRYO-13616,PLT-13617,APH-21138" />
	  <add key="EMRAutoTests" value="5410,5286" />
	  <add key="LabAutoRaiseTestIDs" value="3342,3343" />
	  <add key="FallRiskCarePlanAssementEnable" value="YES" />
	  <add key="FallAssementScore" value="10" />
	  <add key="DVTAssementScore" value="10" />
	  <add key="FallRiskXMLID" value="116" />
	  <add key="DVTXMLID" value="120" />
	  <add key="SaveLexicomAlertstoHIS" value="NO" />
	  <add key="HidePolicyAndProcedure" value="NO" />
	  <add key="ActiveMedDiscontinue" value="YES" />

	  <add key="SECRETARYENABLE" value="NO" />
	  <add key="SICKLEAVELOCATIONWISEDISPLAY" value="YES" />
	  <add key="PendingApprovalMonths" value="3" />
	  <add key="DOCTORAPPROVALMERGE" value="YES" />
	  <add key="ShortTypeDurationsOfMonths" value="3" />
	  <add key="ViewPendingRecordsMRD" value="10" />
	  <add key="BillDocCheck" value="YES" />
	  <add key="NationalityIDBasedSearch" value="YES" />
	  <add key="SICKLEAVELOCATIONWISEDISPLAY" value="YES" />
	  <add key="TriagePriorityCheck" value="NO" />
	  <add key="IsChatBoxEnable" value="NO" />
	  <add key="IsPatMRNo" value="YES" />
	  <add key="IsPDFolderwithCompanyCode" value="YES" />
	  <add key="VitalsRemarksMandatory" value="YES" />
	  <add key="BradenScaleAssementScore" value="10" />
	  <add key="BRADENXMLID" value="116" />
	  <add key="DrugAdminTimeDeviation" value="45" />
	  <add key="isExcludeEMRConsultation" value="YES" />
	  <add key="PhotoPathTempEnable" value="NO" />
	  <add key="DefaultCCChecked" value="YES" />
	  <add key="ENABLETHUMB" value="NO" />
	  <add key="AssesmentCount" value="5" />
	  <add key="isExcludeEMRConsultation" value="NO" />
	  <add key="TRANSLATIONUSERASSIGN" value="YES" />
	  <add key="BloodGroupTestIds" value="BG-16887,ABDC-21210,DAT-17056,ABS-16820,ABI-21214,CM-21211,RHK-17516,KELL-21212,WDT-21209,ABT-21213,CBG-16996,ANTA1-21219,SCT-21220" />
	  <add key="BGComponents" value="A-5903,B-5905,AB-5906,A1-5910,B1-5911,AB2-5924,RhD-5907,Ctrl-5908,FCR-5900,FCR1-5902" />
	  <add key="ABScreeningComponents" value="IS1-5917,IS2-5918,IS3-5919,37C1-5920,37C2-5921,37C3-5922,AHG1-5914,AHG2-5915,AHG3-5916,CCC1-5988,CCC2-5989,CCC3-5991,FCR-5721" />
	  <add key="ABIdentification" value="5979" />
	  <add key="ABIdentityLOT" value="5956,5957" />
	  <add key="ABIdentityMethod" value="AM-5992,AN-5993" />
	  <add key="CrossMatchComponents" value="B-5935,IS-5936,37C-5938,AHG-5939,CCC-5933,FCR-5940" />
	  <add key="BBDependentTest" value="WDT-21209,ANTA1-21219,ABI-21214,RHK-17516,ABT-21213" />
	  <add key="ABTITration" value="T1-5995,T2-5996,T3-5997,T4-5998,T5-5999,T6-6000,T7-6001,T8-6002,T9-6003,T10-6004,T11-6005,T12-6006" />
	  <add key="ABTITrationFinal" value="6007" />
	  <add key="DATComponents" value="DAT-5724,FCR-5927" />
	  <add key="DATDependents" value="IgG-5984,C3d-5985,Ctrl-5986" />
	  <add key="RHPhenoKell" value="AC-5942,AE-5945,ACS-5944,AES-5946,AK-5947,PT-5725,K-5950,I-6010,FAB-5979" />
	  <add key="WeakDComponents" value="WDM-5982,WDT-5926,WDC-5931,WDI-6012" />
	  <add key="CROSSMATCHLabAutoRaiseTestIDs" value="9362" />
	  <add key="LabAutoRaiseTestIDs" value="9359,9360" />
	  <add key="CORDLabAutoRaiseTestIDs" value="9361" />
	  <add key="DoAuthorizeTransaction" value="NO" />
	  <add key="WHOLEBLOOD" value="2179" />
	  <add key="PACKEDREDBLOODCELLS" value="9355" />
	  <add key="FRESHFROZENPLASMA" value="9356" />
	  <add key="CRYOPRECIPITATE" value="9357" />
	  <add key="PLATELETCONCENTRATE" value="9358" />
	  <add key="LABORDERTIMEFRAME" value="72" />
	  <add key="ABOGROUP" value="5140" />
	  <add key="RHTYPE" value="5141" />
	  <add key="DefaultBloodGroup" value="11" />
	  <add key="CordPatientAge" value="4" />
	  <add key="strRemote" value="MRDDocs"></add>
	  <add key="MRDREPORTVISITCHECK" value="YES" />
	  <add key="PhelbotomySampleReceived" value="YES" />
	  <add key="PhelbotomyPorterReceived" value="YES" />
	  <add key="PrimaryAdviceView" value="NO" />
	  <add key="AccessNODoc" value="NO" />
	  <add key="AlHammadiSpecial" value="NO" />
	  <add key="DefaultSamplecollectcheck" value="NO" />
	  <add key="AddOnTestsOptionEnable" value="YES" />

	  <add key="PlannedDischargeDate" value="NO" />
	  <add key="AOSTEMPLATEMANDATORY" value="NO" />
	  <add key="NumberOfVisits" value="5" />
	  <add key="AOSTEMPLATEDISPLAY" value="AntibioticsTeamplate.html" />
	  <add key="ManualEntryMandatory" value="YES" />
	  <add key="IntakeOutputUOMID" value="15" />

	  <add key="ExpectedLOS" value="NO" />
	  <add key="CDR" value="YES" />
	  <add key="RestrictPresApprovalDirectSearch" value="NO" />
	  <add key="PRESPERFORMANCE" value="NO" />
	  <add key="MODAAPPAdvicePrimaryConsultantMand" value="NO" />
	  <add key="DISPLAYLEXICOMONAPAGELOAD" value="NO" />
	  <add key="RWLDOCAPPOINTMENT_MODA" value="NO" />
	  <add key="AdmissionTypeSelect" value="NO" />

	  <add key="aspnet:MaxHttpCollectionKeys" value="20000" />
	  <add key="DisaplayPharmacyReqUestQOH" value="No" />
	  <add key="ResultEntryValidation" value="Yes" />
	  <add key="AlhammadiRegistrationChanges" value="NO" />
	  <add key="MedicalRecordsIPOP" value="YES" />
	  <add key="LaunchPacsViewer" value="NO" />
	  <add key="strPACSServerIP" value="http://172.16.16.40" />


	  <!-- for enabling Consumables combo in IPIssues Screen -->
	  <add key="IPIssueConsumableEnable" value="YES" />
	  <!-- for editing price column in Approval Request screen -->
	  <add key="EDITPRICE" value="YES" />
	  <add key="PharmacyReqBarCode" value="YES" />
	  <!--to Enable to Barcode YES-->
	  <add key="WEIGHTDISPLAYFOLLOWUP" value="NO" />
	  <add key="SURGERYADMISSIONMANDATORY" value="YES" />
	  <!--YES to enable Admission Mandatory if surgery is selected-->
	  <add key="WEIGHTDISPLAYFOLLOWUP" value="NO" />
	  <add key="PROCSCHEDLOADALLLOCATIONS" value="NO" />

	  <add key="CheckNationality" value="NO" />
	  <add key="PatDataPDFInclOutLabResults" value="NO" />
	  <add key="OutsideLabResultsFolder" value="PatientPhoto" />
	  <add key="GenericICDMappingCheck" value="YES" />

	  <add key="SQLInjectionCheck" value="NO" />

	  <add key="ConsultationApproval" value="YES" />
	  <add key="ConsultationApprovalSpecialisations" value="2" />

	  <add key="PatientcurrentlyIP" value="PatientcurrentlyIP" />
	  <add key="PatientcurrentlyEMR" value="PatientcurrentlyEMR" />
	  <add key="PatientOutstandingAmount" value="PatientOutstandingAmount" />
	  <add key="AllowCreditBillingIfGradeBlocked" value="AllowCreditBillingIfGradeBlocked" />
	  <add key="GradeBlocked" value="GradeBlocked" />
	  <add key="CompanyPatientBlocked" value="CompanyPatientBlocked" />
	  <add key="BlockedReason" value="BlockedReason" />
	  <add key="InsuranceCompanyPatientExpired" value="InsuranceCompanyPatientExpired" />
	  <add key="CompanyContractDateExpired" value="CompanyContractDateExpired" />
	  <add key="InsuranceCardExpired" value="InsuranceCardExpired" />
	  <add key="NoAPPGBill" value="NoAPPGBill" />
	  <add key="NoRecordsFound" value="NoRecordsFound" />
	  <add key="DoctorFollowup" value="YES" />
	  <add key="Yaico" value="Yaico" />
	  <add key="Creditbillnotpossibleforpatient" value="Creditbillnotpossibleforpatient" />
	  <add key="IsGeneralExcluded" value="IsGeneralExcluded" />
	  <add key="OPConsultationSameDayDepartment" value="OPConsultationSameDayDepartment" />
	  <add key="CCDSDSD" value="CCDSDSD" />
	  <add key="LAVDE" value="LAVDE" />
	  <add key="CARD" value="CARD" />
	  <add key="LOANM" value="LOANM" />
	  <add key="CRDiscountforPatient" value="CRDiscountforPatient" />
	  <add key="CCNDCARD" value="CCNDCARD" />
	  <add key="IsLimitExceeds" value="IsLimitExceeds" />
	  <add key="OpBillingValidationofProfileAndPHC" value="OpBillingValidationofProfileAndPHC" />
	  <add key="IsGeneralExcludedGroup" value="IsGeneralExcludedGroup" />
	  <add key="ICECBNP" value="ICECBNP" />
	  <add key="TAXtype" value="1" />
	  <add key="NewVisitOrderTypeId" value="NewVisitOrderTypeId" />
	  <add key="FollowUpMsgYESNO" value="FollowUpMsgYESNO" />
	  
	  
	  
	  
	  
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.7.2" />
    <httpRuntime targetFramework="4.7.2" />
  </system.web>
  <system.webServer>
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.7.0" newVersion="5.2.7.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:1659;1699;1701" />
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
    </compilers>
  </system.codedom>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="FrontOfficeEndpoint" />
        <binding name="NxGAdminbasicEndpoint" />
        <binding name="AREndpoint" />
        <binding name="BillingCalculationEndpoint" />
        <binding name="BillingFacadeEndpoint" />
        <binding name="CommonSearchSvcEndpoint" />
        <binding name="ContractMgmtEndpoint" />
        <binding name="IPBillingEndpoint" />
		  <binding name="SvcCommonBinding" closeTimeout="00:10:00" openTimeout="00:10:00" receiveTimeout="00:10:00" sendTimeout="00:59:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferSize="2147483647" maxBufferPoolSize="524288" maxReceivedMessageSize="2147483647" messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true">
			  <readerQuotas maxDepth="32" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="4096" maxNameTableCharCount="2147483647" />
			  <security mode="None">
				  <transport clientCredentialType="None" proxyCredentialType="None" realm="" />
				  <message clientCredentialType="UserName" algorithmSuite="Default" />
			  </security>
		  </binding>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://172.16.16.53/Wipro.NXG.FrontOffice/FrontOfficeServiceReference.svc" binding="basicHttpBinding" bindingConfiguration="SvcCommonBinding" contract="FrontOfficeServiceClient.FrontOfficeServiceContract" name="FrontOfficeEndpoint" />
      <endpoint address="http://172.16.16.53/Wipro.NXG.Admin/AdminServiceRef.svc" binding="basicHttpBinding" bindingConfiguration="SvcCommonBinding" contract="AdminServiceClient.IAdmin" name="NxGAdminbasicEndpoint" />
      <endpoint address="http://172.16.16.53/Wipro.NxG.AR/ARServiceReference.svc" binding="basicHttpBinding" bindingConfiguration="SvcCommonBinding" contract="ARServiceReferenceClient.ARServiceContract" name="AREndpoint" />
      <endpoint address="http://172.16.16.53/Wipro.NxG.BillCalculation/BillingCalculationServiceReference.svc" binding="basicHttpBinding" bindingConfiguration="SvcCommonBinding" contract="BillingCalculationServiceClient.BillingCalculatonServiceContract" name="BillingCalculationEndpoint" />
      <endpoint address="http://172.16.16.53/Wipro.NxG.BillingFacade/BillingFacadeServiceReference.svc" binding="basicHttpBinding" bindingConfiguration="SvcCommonBinding" contract="BillingFacadeServiceClient.BillingFacadeServiceContract" name="BillingFacadeEndpoint" />
      <endpoint address="http://172.16.16.53/Wipro.NxG.Common/CommonSearchService.svc" binding="basicHttpBinding" bindingConfiguration="SvcCommonBinding" contract="CommonSearchServiceClient.CommonSearchServiceContract" name="CommonSearchSvcEndpoint" />
      <endpoint address="http://172.16.16.53/Wipro.NxG.ContractMgmt/ContractMgmtServiceReference.svc" binding="basicHttpBinding" bindingConfiguration="SvcCommonBinding" contract="ContractMgmtServiceClient.ContractMgmtServiceContract" name="ContractMgmtEndpoint" />
      <endpoint address="http://172.16.16.53/Wipro.NxG.IPBilling/IPBillingServiceReference.svc" binding="basicHttpBinding" bindingConfiguration="SvcCommonBinding" contract="IPBillingServiceClient.IPBillingServiceContract" name="IPBillingEndpoint" />
    </client>
  </system.serviceModel>
</configuration>